In [ ]:
# !pip install pyod
%load_ext autotime

In [ ]:
# !pip install --upgrade parallel-pandas

In [ ]:
# !pip install swifter

In [1]:
%load_ext autotime

time: 0 ns (started: 2023-08-31 16:38:22 -03:00)

In [2]:
import pandas as pd
from CalcularDezenas import CalcularDezenas as cd
import itertools
import swifter

time: 2.61 s (started: 2023-08-31 16:38:22 -03:00)

In [3]:
pd.set_option('display.max_colwidth', None)
pd.options.mode.chained_assignment = None

time: 16 ms (started: 2023-08-31 16:38:25 -03:00)

In [4]:
# %load_ext autotime

time: 16 ms (started: 2023-08-31 16:38:25 -03:00)

In [5]:
df = pd.read_excel('../../data/resultados-caixa/Mega-Sena.xlsx', parse_dates=['Data do Sorteio'])

time: 1.28 s (started: 2023-08-31 16:38:29 -03:00)

C:\Users\PC PERFORMANCE\AppData\Local\Temp\ipykernel_20080\1972361050.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df = pd.read_excel('../../data/resultados-caixa/Mega-Sena.xlsx', parse_dates=['Data do Sorteio'])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2616 entries, 0 to 2615
Data columns (total 20 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Concurso                                   2616 non-null   int64
 1   Data do Sorteio                            2616 non-null   datetime64[ns]
 2   Bola1                                      2616 non-null   int64
 3   Bola2                                      2616 non-null   int64
 4   Bola3                                      2616 non-null   int64
 5   Bola4                                      2616 non-null   int64
 6   Bola5                                      2616 non-null   int64
 7   Bola6                                      2616 non-null   int64
 8   Ganhadores 6 acertos                       2616 non-null   int64
 9   Cidade / UF                                569 non-null    object
 10  Rateio 6 acertos                           2616 non-null   object
 11  Ganhadores 5 acertos                       2616 non-null   int64
 12  Rateio 5 acertos                           2616 non-null   object
 13  Ganhadores 4 acertos                       2616 non-null   int64
 14  Rateio 4 acertos                           2616 non-null   object
 15  Acumulado 6 acertos                        2616 non-null   object
 16  Arrecadação Total                          2616 non-null   object
 17  Estimativa prêmio                          2616 non-null   object
 18  Acumulado Sorteio Especial Mega da Virada  2616 non-null   object
 19  Observação                                 894 non-null    object
dtypes: datetime64[ns](1), int64(10), object(9)
memory usage: 408.9+ KB
time: 31 ms (started: 2023-08-31 16:38:30 -03:00)

In [7]:
df.fillna('', inplace=True)

time: 15 ms (started: 2023-08-31 16:38:30 -03:00)

In [8]:
df.replace('\n',' ', regex=True, inplace=True)

time: 47 ms (started: 2023-08-31 16:38:30 -03:00)

In [9]:

dict_col = {'Concurso': 'Concurso', 
            'Data do Sorteio': 'Data Sorteio',
            'Bola1': 'Dez01',
            'Bola2': 'Dez02',
            'Bola3': 'Dez03',
            'Bola4': 'Dez04',
            'Bola5': 'Dez05',
            'Bola6': 'Dez06',
            'Ganhadores 6 acertos': 'Ganhadores Faixa 1',
            'Cidade / UF': 'Cidade',
            'Rateio 6 acertos': 'Rateio Faixa 1',
            'Ganhadores 5 acertos': 'Ganhadores Faixa 2', 
            'Rateio 5 acertos': 'Rateio Faixa 2',
            'Ganhadores 4 acertos': 'Ganhadores Faixa 3',  
            'Rateio 4 acertos': 'Rateio Faixa 3',  
            'Acumulado 6 acertos':'Valor Acumulado Próximo Concurso',
            'Arrecadação Total':'Valor Arrecadado',
            'Estimativa prêmio':'Estimativa para o próximo concurso',
            'Acumulado Sorteio Especial Mega da Virada':'Sorteio Especial',
            'Observação':'Observação'}

time: 0 ns (started: 2023-08-31 16:38:30 -03:00)

In [10]:
df.rename(columns=dict_col,
           inplace=True)

time: 0 ns (started: 2023-08-31 16:38:30 -03:00)

In [11]:
df.to_json('../../data/resultados-caixa/Sorteios.json', orient='records', date_format = 'iso', indent=2, force_ascii = False)

time: 16 ms (started: 2023-08-31 16:38:31 -03:00)

In [12]:
df

,Concurso,Data Sorteio,Dez01,Dez02,Dez03,Dez04,Dez05,Dez06,Ganhadores Faixa 1,Cidade,Rateio Faixa 1,Ganhadores Faixa 2,Rateio Faixa 2,Ganhadores Faixa 3,Rateio Faixa 3,Valor Acumulado Próximo Concurso,Valor Arrecadado,Estimativa para o próximo concurso,Sorteio Especial,Observação
0,1,1996-11-03,4,5,30,33,41,52,0,,"R$0,00",17,"R$39.158,92",2016,"R$330,21","R$1.714.650,23","R$0,00","R$0,00","R$0,00",
1,2,1996-03-18,9,37,39,41,43,49,1,PR,"R$2.307.162,23",65,"R$14.424,02",4488,"R$208,91","R$0,00","R$0,00","R$0,00","R$0,00",
2,3,1996-03-25,10,11,29,30,36,47,2,RN; SP,"R$391.192,51",62,"R$10.515,93",4261,"R$153,01","R$0,00","R$0,00","R$0,00","R$0,00",
3,4,1996-01-04,1,5,6,27,42,59,0,,"R$0,00",39,"R$15.322,24",3311,"R$180,48","R$717.080,75","R$0,00","R$0,00","R$0,00",
4,5,1996-08-04,1,2,6,16,19,46,0,,"R$0,00",98,"R$5.318,10",5399,"R$96,53","R$1.342.488,85","R$0,00","R$0,00","R$0,00",
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2611,2612,2023-07-19,20,27,34,44,50,54,0,,"R$0,00",50,"R$90.719,26",3638,"R$1.781,18","R$49.260.663,27","R$78.673.555,00","R$60.000.000,00","R$61.356.654,15",
2612,2613,2023-07-22,14,26,40,42,46,52,0,,"R$0,00",70,"R$80.398,82",5774,"R$1.392,42","R$59.627.878,97","R$97.612.840,00","R$70.000.000,00","R$62.837.684,98",
2613,2614,2023-07-25,3,8,13,14,19,25,3,CANAL ELETRONICO; CONTAGEM/MG,"R$22.746.383,38",251,"R$18.624,27",12145,"R$549,86","R$26.710.218,14","R$81.079.690,00","R$33.000.000,00","R$64.067.866,59",
2614,2615,2023-07-27,5,7,22,23,41,59,0,,"R$0,00",82,"R$37.333,91",5737,"R$762,31","R$32.349.603,79","R$53.097.810,00","R$40.000.000,00","R$64.873.493,13",
2615,2616,2023-07-29,6,16,23,35,38,49,0,,"R$0,00",103,"R$39.221,73",6817,"R$846,58","R$39.791.409,84","R$70.068.555,00","R$50.000.000,00","R$65.936.608,29",

time: 16 ms (started: 2023-08-31 16:38:31 -03:00)

In [13]:
data_df = pd.read_json('../../data/resultados-caixa/Sorteios.json')

time: 47 ms (started: 2023-08-31 16:38:31 -03:00)

In [14]:
data_df

,Concurso,Data Sorteio,Dez01,Dez02,Dez03,Dez04,Dez05,Dez06,Ganhadores Faixa 1,Cidade,Rateio Faixa 1,Ganhadores Faixa 2,Rateio Faixa 2,Ganhadores Faixa 3,Rateio Faixa 3,Valor Acumulado Próximo Concurso,Valor Arrecadado,Estimativa para o próximo concurso,Sorteio Especial,Observação
0,1,1996-11-03T00:00:00.000,4,5,30,33,41,52,0,,"R$0,00",17,"R$39.158,92",2016,"R$330,21","R$1.714.650,23","R$0,00","R$0,00","R$0,00",
1,2,1996-03-18T00:00:00.000,9,37,39,41,43,49,1,PR,"R$2.307.162,23",65,"R$14.424,02",4488,"R$208,91","R$0,00","R$0,00","R$0,00","R$0,00",
2,3,1996-03-25T00:00:00.000,10,11,29,30,36,47,2,RN; SP,"R$391.192,51",62,"R$10.515,93",4261,"R$153,01","R$0,00","R$0,00","R$0,00","R$0,00",
3,4,1996-01-04T00:00:00.000,1,5,6,27,42,59,0,,"R$0,00",39,"R$15.322,24",3311,"R$180,48","R$717.080,75","R$0,00","R$0,00","R$0,00",
4,5,1996-08-04T00:00:00.000,1,2,6,16,19,46,0,,"R$0,00",98,"R$5.318,10",5399,"R$96,53","R$1.342.488,85","R$0,00","R$0,00","R$0,00",
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2611,2612,2023-07-19T00:00:00.000,20,27,34,44,50,54,0,,"R$0,00",50,"R$90.719,26",3638,"R$1.781,18","R$49.260.663,27","R$78.673.555,00","R$60.000.000,00","R$61.356.654,15",
2612,2613,2023-07-22T00:00:00.000,14,26,40,42,46,52,0,,"R$0,00",70,"R$80.398,82",5774,"R$1.392,42","R$59.627.878,97","R$97.612.840,00","R$70.000.000,00","R$62.837.684,98",
2613,2614,2023-07-25T00:00:00.000,3,8,13,14,19,25,3,CANAL ELETRONICO; CONTAGEM/MG,"R$22.746.383,38",251,"R$18.624,27",12145,"R$549,86","R$26.710.218,14","R$81.079.690,00","R$33.000.000,00","R$64.067.866,59",
2614,2615,2023-07-27T00:00:00.000,5,7,22,23,41,59,0,,"R$0,00",82,"R$37.333,91",5737,"R$762,31","R$32.349.603,79","R$53.097.810,00","R$40.000.000,00","R$64.873.493,13",
2615,2616,2023-07-29T00:00:00.000,6,16,23,35,38,49,0,,"R$0,00",103,"R$39.221,73",6817,"R$846,58","R$39.791.409,84","R$70.068.555,00","R$50.000.000,00","R$65.936.608,29",

time: 16 ms (started: 2023-08-31 16:38:31 -03:00)

In [15]:
data_df_norm = pd.json_normalize(data_df)

time: 0 ns (started: 2023-08-31 16:38:32 -03:00)

In [16]:
# data_df_norm

time: 0 ns (started: 2023-08-31 16:38:32 -03:00)

In [17]:
calc_df = data_df[['Concurso','Dez01','Dez02','Dez03','Dez04','Dez05','Dez06']]

time: 0 ns (started: 2023-08-31 16:38:32 -03:00)

In [18]:
calc_df

      Concurso  Dez01  Dez02  Dez03  Dez04  Dez05  Dez06
0            1      4      5     30     33     41     52
1            2      9     37     39     41     43     49
2            3     10     11     29     30     36     47
3            4      1      5      6     27     42     59
4            5      1      2      6     16     19     46
...        ...    ...    ...    ...    ...    ...    ...
2611      2612     20     27     34     44     50     54
2612      2613     14     26     40     42     46     52
2613      2614      3      8     13     14     19     25
2614      2615      5      7     22     23     41     59
2615      2616      6     16     23     35     38     49

[2616 rows x 7 columns]

time: 0 ns (started: 2023-08-31 16:38:32 -03:00)

# Preparação da base

In [19]:
def ret_dezenas(d1,d2,d3,d4,d5,d6):
    return [d1,d2,d3,d4,d5,d6]

time: 0 ns (started: 2023-08-31 16:38:33 -03:00)

In [20]:
df = calc_df

time: 0 ns (started: 2023-08-31 16:38:33 -03:00)

In [21]:
df['dezenas'] = df.apply(lambda x:ret_dezenas(x['Dez01'],x['Dez02'],x['Dez03'], x['Dez04'], x['Dez05'], x['Dez06'],), axis = 1)

time: 78 ms (started: 2023-08-31 16:38:33 -03:00)

In [22]:
df

,Concurso,Dez01,Dez02,Dez03,Dez04,Dez05,Dez06,dezenas
0,1,4,5,30,33,41,52,"[4, 5, 30, 33, 41, 52]"
1,2,9,37,39,41,43,49,"[9, 37, 39, 41, 43, 49]"
2,3,10,11,29,30,36,47,"[10, 11, 29, 30, 36, 47]"
3,4,1,5,6,27,42,59,"[1, 5, 6, 27, 42, 59]"
4,5,1,2,6,16,19,46,"[1, 2, 6, 16, 19, 46]"
...,...,...,...,...,...,...,...,...
2611,2612,20,27,34,44,50,54,"[20, 27, 34, 44, 50, 54]"
2612,2613,14,26,40,42,46,52,"[14, 26, 40, 42, 46, 52]"
2613,2614,3,8,13,14,19,25,"[3, 8, 13, 14, 19, 25]"
2614,2615,5,7,22,23,41,59,"[5, 7, 22, 23, 41, 59]"
2615,2616,6,16,23,35,38,49,"[6, 16, 23, 35, 38, 49]"

time: 16 ms (started: 2023-08-31 16:38:34 -03:00)

In [23]:
def GeraCombinacoes(dezenasSorteios, numDezenas):
    # yield list(itertools.combinations(dezenasSorteios, numDezenas))
    return itertools.combinations(dezenasSorteios, numDezenas)

time: 0 ns (started: 2023-08-31 16:38:34 -03:00)

In [24]:
dezenas = [4, 5, 30, 33, 41, 52]

time: 0 ns (started: 2023-08-31 16:38:34 -03:00)

In [25]:
# %%timeit
lista_quinas = []
for i in df.itertuples():
    dezenas = i[8]
    for comb in GeraCombinacoes(dezenas,5):
        d = list(comb)
        d.sort()
        lista_quinas.append(d)

time: 16 ms (started: 2023-08-31 16:38:35 -03:00)

In [26]:
len(lista_quinas)

15696

time: 16 ms (started: 2023-08-31 16:38:35 -03:00)

In [27]:
lista_quadras = []
for i in df.itertuples():
    dezenas = i[8]
    for comb in GeraCombinacoes(dezenas,4):
        d = list(comb)
        d.sort()
        lista_quadras.append(d)

time: 94 ms (started: 2023-08-31 16:38:35 -03:00)

In [28]:
lista_ternos = []
for i in df.itertuples():
    dezenas = i[8]
    for comb in GeraCombinacoes(dezenas,3):
        d = list(comb)
        d.sort()
        lista_ternos.append(d)

time: 47 ms (started: 2023-08-31 16:38:36 -03:00)

In [29]:
print(len(lista_quinas))
print(len(lista_quadras))
print(len(lista_ternos))

15696
39240
52320
time: 0 ns (started: 2023-08-31 16:38:36 -03:00)

In [30]:
df.loc[2614:]

,Concurso,Dez01,Dez02,Dez03,Dez04,Dez05,Dez06,dezenas
2614,2615,5,7,22,23,41,59,"[5, 7, 22, 23, 41, 59]"
2615,2616,6,16,23,35,38,49,"[6, 16, 23, 35, 38, 49]"

time: 0 ns (started: 2023-08-31 16:38:39 -03:00)

In [31]:
def CalculaApostas(numDezenas): 
    volante = [i for i in range(1,61)]
    apostas = list(itertools.combinations(volante, numDezenas))
    return apostas

time: 0 ns (started: 2023-08-31 16:38:39 -03:00)

In [32]:
apostas = CalculaApostas(6)

time: 5.73 s (started: 2023-08-31 16:38:42 -03:00)

In [33]:
df_apostas = pd.DataFrame(apostas)

time: 1min 4s (started: 2023-08-31 16:38:47 -03:00)

In [34]:
df_apostas['dezenas'] = df_apostas.apply(lambda x:ret_dezenas(x[0],x[1],x[2], x[3], x[4], x[5],), axis = 1)
# 19min

time: 20min 41s (started: 2023-08-31 16:39:51 -03:00)

# Gera lista de apostas com ternos sorteados

In [35]:
chunk_size = int(df_apostas.shape[0]/2004)
chunks_listas = [df_apostas[i:i + chunk_size] for i in range(0, df_apostas.shape[0], chunk_size)]

time: 140 ms (started: 2023-08-31 17:00:34 -03:00)

In [36]:
len(chunks_listas)

2005

time: 94 ms (started: 2023-08-31 17:00:34 -03:00)

In [37]:
# %%timeit
lista_calculadas = []
for lista in chunks_listas:
    lista_calculada = [len(list(set(a) & set(b))) for a,b in zip(lista['dezenas'], lista_ternos)]
    lista_calculadas.append(lista_calculada)

time: 1min 1s (started: 2023-08-31 17:00:34 -03:00)

In [38]:
lista_ternos_completa = []
for listas in lista_calculadas:
    for lista in listas:
        lista_ternos_completa.append(lista)
len(lista_ternos_completa)       
# 50063860

50063860

time: 6.52 s (started: 2023-08-31 17:01:35 -03:00)

In [39]:
len(apostas)

50063860

time: 0 ns (started: 2023-08-31 17:01:42 -03:00)

In [40]:
apostas_com_ternos_df = pd.DataFrame(lista_ternos_completa)

time: 10.9 s (started: 2023-08-31 17:01:42 -03:00)

In [41]:
apostas_com_ternos_df

          0
0         2
1         2
2         2
3         2
4         1
...      ..
50063855  0
50063856  1
50063857  0
50063858  1
50063859  1

[50063860 rows x 1 columns]

time: 15 ms (started: 2023-08-31 17:01:53 -03:00)

In [42]:
apostas_com_ternos_df.columns = ['qtde_ternos']

time: 0 ns (started: 2023-08-31 17:01:53 -03:00)

In [43]:
apostas_com_ternos_df.value_counts()

qtde_ternos
0              36290148
1              12559601
2               1185012
3                 29099
dtype: int64

time: 1.28 s (started: 2023-08-31 17:01:53 -03:00)

In [44]:
len(lista_ternos)

52320

time: 0 ns (started: 2023-08-31 17:01:54 -03:00)

# Calcula apostas com quadras sorteadas

In [48]:
import numpy as np

time: 0 ns (started: 2023-08-31 17:04:03 -03:00)

In [49]:
df_apostas_sample = df_apostas.sample(5)

time: 3.67 s (started: 2023-08-31 17:04:04 -03:00)

In [50]:
lista_ternos

[[4, 5, 30],
 [4, 5, 33],
 [4, 5, 41],
 [4, 5, 52],
 [4, 30, 33],
 [4, 30, 41],
 [4, 30, 52],
 [4, 33, 41],
 [4, 33, 52],
 [4, 41, 52],
 [5, 30, 33],
 [5, 30, 41],
 [5, 30, 52],
 [5, 33, 41],
 [5, 33, 52],
 [5, 41, 52],
 [30, 33, 41],
 [30, 33, 52],
 [30, 41, 52],
 [33, 41, 52],
 [9, 37, 39],
 [9, 37, 41],
 [9, 37, 43],
 [9, 37, 49],
 [9, 39, 41],
 [9, 39, 43],
 [9, 39, 49],
 [9, 41, 43],
 [9, 41, 49],
 [9, 43, 49],
 [37, 39, 41],
 [37, 39, 43],
 [37, 39, 49],
 [37, 41, 43],
 [37, 41, 49],
 [37, 43, 49],
 [39, 41, 43],
 [39, 41, 49],
 [39, 43, 49],
 [41, 43, 49],
 [10, 11, 29],
 [10, 11, 30],
 [10, 11, 36],
 [10, 11, 47],
 [10, 29, 30],
 [10, 29, 36],
 [10, 29, 47],
 [10, 30, 36],
 [10, 30, 47],
 [10, 36, 47],
 [11, 29, 30],
 [11, 29, 36],
 [11, 29, 47],
 [11, 30, 36],
 [11, 30, 47],
 [11, 36, 47],
 [29, 30, 36],
 [29, 30, 47],
 [29, 36, 47],
 [30, 36, 47],
 [1, 5, 6],
 [1, 5, 27],
 [1, 5, 42],
 [1, 5, 59],
 [1, 6, 27],
 [1, 6, 42],
 [1, 6, 59],
 [1, 27, 42],
 [1, 27, 59],
 [1, 42, 59],
 [5, 6, 27],
 [5, 6, 42],
 [5, 6, 59],
 [5, 27, 42],
 [5, 27, 59],
 [5, 42, 59],
 [6, 27, 42],
 [6, 27, 59],
 [6, 42, 59],
 [27, 42, 59],
 [1, 2, 6],
 [1, 2, 16],
 [1, 2, 19],
 [1, 2, 46],
 [1, 6, 16],
 [1, 6, 19],
 [1, 6, 46],
 [1, 16, 19],
 [1, 16, 46],
 [1, 19, 46],
 [2, 6, 16],
 [2, 6, 19],
 [2, 6, 46],
 [2, 16, 19],
 [2, 16, 46],
 [2, 19, 46],
 [6, 16, 19],
 [6, 16, 46],
 [6, 19, 46],
 [16, 19, 46],
 [7, 13, 19],
 [7, 13, 22],
 [7, 13, 40],
 [7, 13, 47],
 [7, 19, 22],
 [7, 19, 40],
 [7, 19, 47],
 [7, 22, 40],
 [7, 22, 47],
 [7, 40, 47],
 [13, 19, 22],
 [13, 19, 40],
 [13, 19, 47],
 [13, 22, 40],
 [13, 22, 47],
 [13, 40, 47],
 [19, 22, 40],
 [19, 22, 47],
 [19, 40, 47],
 [22, 40, 47],
 [3, 5, 20],
 [3, 5, 21],
 [3, 5, 38],
 [3, 5, 56],
 [3, 20, 21],
 [3, 20, 38],
 [3, 20, 56],
 [3, 21, 38],
 [3, 21, 56],
 [3, 38, 56],
 [5, 20, 21],
 [5, 20, 38],
 [5, 20, 56],
 [5, 21, 38],
 [5, 21, 56],
 [5, 38, 56],
 [20, 21, 38],
 [20, 21, 56],
 [20, 38, 56],
 [21, 38, 56],
 [4, 17, 37],
 [4, 17, 38],
 [4, 17, 47],
 [4, 17, 53],
 [4, 37, 38],
 [4, 37, 47],
 [4, 37, 53],
 [4, 38, 47],
 [4, 38, 53],
 [4, 47, 53],
 [17, 37, 38],
 [17, 37, 47],
 [17, 37, 53],
 [17, 38, 47],
 [17, 38, 53],
 [17, 47, 53],
 [37, 38, 47],
 [37, 38, 53],
 [37, 47, 53],
 [38, 47, 53],
 [8, 43, 54],
 [8, 43, 55],
 [8, 43, 56],
 [8, 43, 60],
 [8, 54, 55],
 [8, 54, 56],
 [8, 54, 60],
 [8, 55, 56],
 [8, 55, 60],
 [8, 56, 60],
 [43, 54, 55],
 [43, 54, 56],
 [43, 54, 60],
 [43, 55, 56],
 [43, 55, 60],
 [43, 56, 60],
 [54, 55, 56],
 [54, 55, 60],
 [54, 56, 60],
 [55, 56, 60],
 [4, 18, 21],
 [4, 18, 25],
 [4, 18, 38],
 [4, 18, 57],
 [4, 21, 25],
 [4, 21, 38],
 [4, 21, 57],
 [4, 25, 38],
 [4, 25, 57],
 [4, 38, 57],
 [18, 21, 25],
 [18, 21, 38],
 [18, 21, 57],
 [18, 25, 38],
 [18, 25, 57],
 [18, 38, 57],
 [21, 25, 38],
 [21, 25, 57],
 [21, 38, 57],
 [25, 38, 57],
 [15, 25, 37],
 [15, 25, 38],
 [15, 25, 58],
 [15, 25, 59],
 [15, 37, 38],
 [15, 37, 58],
 [15, 37, 59],
 [15, 38, 58],
 [15, 38, 59],
 [15, 58, 59],
 [25, 37, 38],
 [25, 37, 58],
 [25, 37, 59],
 [25, 38, 58],
 [25, 38, 59],
 [25, 58, 59],
 [37, 38, 58],
 [37, 38, 59],
 [37, 58, 59],
 [38, 58, 59],
 [4, 16, 19],
 [4, 16, 20],
 [4, 16, 27],
 [4, 16, 43],
 [4, 19, 20],
 [4, 19, 27],
 [4, 19, 43],
 [4, 20, 27],
 [4, 20, 43],
 [4, 27, 43],
 [16, 19, 20],
 [16, 19, 27],
 [16, 19, 43],
 [16, 20, 27],
 [16, 20, 43],
 [16, 27, 43],
 [19, 20, 27],
 [19, 20, 43],
 [19, 27, 43],
 [20, 27, 43],
 [18, 32, 47],
 [18, 32, 50],
 [18, 32, 54],
 [18, 32, 56],
 [18, 47, 50],
 [18, 47, 54],
 [18, 47, 56],
 [18, 50, 54],
 [18, 50, 56],
 [18, 54, 56],
 [32, 47, 50],
 [32, 47, 54],
 [32, 47, 56],
 [32, 50, 54],
 [32, 50, 56],
 [32, 54, 56],
 [47, 50, 54],
 [47, 50, 56],
 [47, 54, 56],
 [50, 54, 56],
 [2, 16, 23],
 [2, 16, 27],
 [2, 16, 47],
 [2, 16, 53],
 [2, 23, 27],
 [2, 23, 47],
 [2, 23, 53],
 [2, 27, 47],
 [2, 27, 53],
 [2, 47, 53],
 [16, 23, 27],
 [16, 23, 47],
 [16, 23, 53],
 [16, 27, 47],
 [16, 27, 53],
 [16, 47, 53],
 [23, 27, 47],
 [23, 27, 53],
 [23, 47, 53],
 [27, 47, 53],
 [12, 33, 35],
 [12, 33, 51],
 [12, 33, 52],
 [12, 33, 60],
 [12, 35, 51],
 [12, 35, 52],
 [12, 35, 60],
 [12, 51, 52],
 [12, 51, 60],
 [12, 52, 60],
 [33, 35, 51],
 [33, 35, 52],
 [33, 35, 60],
 [33, 51, 52],
 [33, 51, 60],
 [33, 52, 60],
 [35, 51, 52],
 [35, 51, 60],
 [35, 52, 60],
 [51, 52, 60],
 [20, 32, 34],
 [20, 32, 49],
 [20, 32, 58],
 [20, 32, 60],
 [20, 34, 49],
 [20, 34, 58],
 [20, 34, 60],
 [20, 49, 58],
 [20, 49, 60],
 [20, 58, 60],
 [32, 34, 49],
 [32, 34, 58],
 [32, 34, 60],
 [32, 49, 58],
 [32, 49, 60],
 [32, 58, 60],
 [34, 49, 58],
 [34, 49, 60],
 [34, 58, 60],
 [49, 58, 60],
 [6, 10, 13],
 [6, 10, 19],
 [6, 10, 20],
 [6, 10, 51],
 [6, 13, 19],
 [6, 13, 20],
 [6, 13, 51],
 [6, 19, 20],
 [6, 19, 51],
 [6, 20, 51],
 [10, 13, 19],
 [10, 13, 20],
 [10, 13, 51],
 [10, 19, 20],
 [10, 19, 51],
 [10, 20, 51],
 [13, 19, 20],
 [13, 19, 51],
 [13, 20, 51],
 [19, 20, 51],
 [23, 27, 36],
 [23, 27, 37],
 [23, 27, 42],
 [23, 27, 56],
 [23, 36, 37],
 [23, 36, 42],
 [23, 36, 56],
 [23, 37, 42],
 [23, 37, 56],
 [23, 42, 56],
 [27, 36, 37],
 [27, 36, 42],
 [27, 36, 56],
 [27, 37, 42],
 [27, 37, 56],
 [27, 42, 56],
 [36, 37, 42],
 [36, 37, 56],
 [36, 42, 56],
 [37, 42, 56],
 [5, 10, 12],
 [5, 10, 24],
 [5, 10, 25],
 [5, 10, 60],
 [5, 12, 24],
 [5, 12, 25],
 [5, 12, 60],
 [5, 24, 25],
 [5, 24, 60],
 [5, 25, 60],
 [10, 12, 24],
 [10, 12, 25],
 [10, 12, 60],
 [10, 24, 25],
 [10, 24, 60],
 [10, 25, 60],
 [12, 24, 25],
 [12, 24, 60],
 [12, 25, 60],
 [24, 25, 60],
 [11, 25, 28],
 [11, 25, 30],
 [11, 25, 33],
 [11, 25, 51],
 [11, 28, 30],
 [11, 28, 33],
 [11, 28, 51],
 [11, 30, 33],
 [11, 30, 51],
 [11, 33, 51],
 [25, 28, 30],
 [25, 28, 33],
 [25, 28, 51],
 [25, 30, 33],
 [25, 30, 51],
 [25, 33, 51],
 [28, 30, 33],
 [28, 30, 51],
 [28, 33, 51],
 [30, 33, 51],
 [6, 33, 36],
 [6, 33, 46],
 [6, 33, 49],
 [6, 33, 53],
 [6, 36, 46],
 [6, 36, 49],
 [6, 36, 53],
 [6, 46, 49],
 [6, 46, 53],
 [6, 49, 53],
 [33, 36, 46],
 [33, 36, 49],
 [33, 36, 53],
 [33, 46, 49],
 [33, 46, 53],
 [33, 49, 53],
 [36, 46, 49],
 [36, 46, 53],
 [36, 49, 53],
 [46, 49, 53],
 [1, 9, 31],
 [1, 9, 38],
 [1, 9, 46],
 [1, 9, 56],
 [1, 31, 38],
 [1, 31, 46],
 [1, 31, 56],
 [1, 38, 46],
 [1, 38, 56],
 [1, 46, 56],
 [9, 31, 38],
 [9, 31, 46],
 [9, 31, 56],
 [9, 38, 46],
 [9, 38, 56],
 [9, 46, 56],
 [31, 38, 46],
 [31, 38, 56],
 [31, 46, 56],
 [38, 46, 56],
 [17, 37, 39],
 [17, 37, 51],
 [17, 37, 52],
 [17, 37, 59],
 [17, 39, 51],
 [17, 39, 52],
 [17, 39, 59],
 [17, 51, 52],
 [17, 51, 59],
 [17, 52, 59],
 [37, 39, 51],
 [37, 39, 52],
 [37, 39, 59],
 [37, 51, 52],
 [37, 51, 59],
 [37, 52, 59],
 [39, 51, 52],
 [39, 51, 59],
 [39, 52, 59],
 [51, 52, 59],
 [1, 8, 14],
 [1, 8, 28],
 [1, 8, 33],
 [1, 8, 43],
 [1, 14, 28],
 [1, 14, 33],
 [1, 14, 43],
 [1, 28, 33],
 [1, 28, 43],
 [1, 33, 43],
 [8, 14, 28],
 [8, 14, 33],
 [8, 14, 43],
 [8, 28, 33],
 [8, 28, 43],
 [8, 33, 43],
 [14, 28, 33],
 [14, 28, 43],
 [14, 33, 43],
 [28, 33, 43],
 [24, 43, 50],
 [24, 43, 54],
 [24, 43, 55],
 [24, 43, 56],
 [24, 50, 54],
 [24, 50, 55],
 [24, 50, 56],
 [24, 54, 55],
 [24, 54, 56],
 [24, 55, 56],
 [43, 50, 54],
 [43, 50, 55],
 [43, 50, 56],
 [43, 54, 55],
 [43, 54, 56],
 [43, 55, 56],
 [50, 54, 55],
 [50, 54, 56],
 [50, 55, 56],
 [54, 55, 56],
 [10, 22, 50],
 [10, 22, 53],
 [10, 22, 57],
 [10, 22, 58],
 [10, 50, 53],
 [10, 50, 57],
 [10, 50, 58],
 [10, 53, 57],
 [10, 53, 58],
 [10, 57, 58],
 [22, 50, 53],
 [22, 50, 57],
 [22, 50, 58],
 [22, 53, 57],
 [22, 53, 58],
 [22, 57, 58],
 [50, 53, 57],
 [50, 53, 58],
 [50, 57, 58],
 [53, 57, 58],
 [13, 17, 20],
 [13, 17, 33],
 [13, 17, 44],
 [13, 17, 51],
 [13, 20, 33],
 [13, 20, 44],
 [13, 20, 51],
 [13, 33, 44],
 [13, 33, 51],
 [13, 44, 51],
 [17, 20, 33],
 [17, 20, 44],
 [17, 20, 51],
 [17, 33, 44],
 [17, 33, 51],
 [17, 44, 51],
 [20, 33, 44],
 [20, 33, 51],
 [20, 44, 51],
 [33, 44, 51],
 [3, 6, 22],
 [3, 6, 24],
 [3, 6, 54],
 [3, 6, 60],
 [3, 22, 24],
 [3, 22, 54],
 [3, 22, 60],
 [3, 24, 54],
 [3, 24, 60],
 [3, 54, 60],
 [6, 22, 24],
 [6, 22, 54],
 [6, 22, 60],
 [6, 24, 54],
 [6, 24, 60],
 [6, 54, 60],
 [22, 24, 54],
 [22, 24, 60],
 [22, 54, 60],
 [24, 54, 60],
 [3, 8, 14],
 [3, 8, 43],
 [3, 8, 56],
 [3, 8, 58],
 [3, 14, 43],
 [3, 14, 56],
 [3, 14, 58],
 [3, 43, 56],
 [3, 43, 58],
 [3, 56, 58],
 [8, 14, 43],
 [8, 14, 56],
 [8, 14, 58],
 [8, 43, 56],
 [8, 43, 58],
 [8, 56, 58],
 [14, 43, 56],
 [14, 43, 58],
 [14, 56, 58],
 [43, 56, 58],
 [7, 14, 15],
 [7, 14, 29],
 [7, 14, 38],
 [7, 14, 50],
 [7, 15, 29],
 [7, 15, 38],
 [7, 15, 50],
 [7, 29, 38],
 [7, 29, 50],
 [7, 38, 50],
 [14, 15, 29],
 [14, 15, 38],
 [14, 15, 50],
 [14, 29, 38],
 [14, 29, 50],
 [14, 38, 50],
 [15, 29, 38],
 [15, 29, 50],
 [15, 38, 50],
 [29, 38, 50],
 [17, 19, 28],
 [17, 19, 45],
 [17, 19, 48],
 [17, 19, 56],
 [17, 28, 45],
 [17, 28, 48],
 [17, 28, 56],
 [17, 45, 48],
 [17, 45, 56],
 [17, 48, 56],
 [19, 28, 45],
 [19, 28, 48],
 [19, 28, 56],
 [19, 45, 48],
 [19, 45, 56],
 [19, 48, 56],
 [28, 45, 48],
 [28, 45, 56],
 [28, 48, 56],
 [45, 48, 56],
 [5, 14, 33],
 [5, 14, 36],
 [5, 14, 43],
 [5, 14, 44],
 [5, 33, 36],
 [5, 33, 43],
 [5, 33, 44],
 [5, 36, 43],
 [5, 36, 44],
 [5, 43, 44],
 [14, 33, 36],
 [14, 33, 43],
 [14, 33, 44],
 [14, 36, 43],
 [14, 36, 44],
 [14, 43, 44],
 [33, 36, 43],
 [33, 36, 44],
 [33, 43, 44],
 [36, 43, 44],
 [5, 17, 33],
 [5, 17, 39],
 [5, 17, 42],
 [5, 17, 49],
 [5, 33, 39],
 [5, 33, 42],
 [5, 33, 49],
 [5, 39, 42],
 [5, 39, 49],
 [5, 42, 49],
 [17, 33, 39],
 [17, 33, 42],
 [17, 33, 49],
 [17, 39, 42],
 [17, 39, 49],
 [17, 42, 49],
 [33, 39, 42],
 [33, 39, 49],
 [33, 42, 49],
 [39, 42, 49],
 [13, 15, 17],
 [13, 15, 40],
 [13, 15, 53],
 [13, 15, 57],
 [13, 17, 40],
 [13, 17, 53],
 [13, 17, 57],
 [13, 40, 53],
 [13, 40, 57],
 [13, 53, 57],
 [15, 17, 40],
 [15, 17, 53],
 [15, 17, 57],
 [15, 40, 53],
 [15, 40, 57],
 [15, 53, 57],
 [17, 40, 53],
 [17, 40, 57],
 [17, 53, 57],
 [40, 53, 57],
 [4, 16, 21],
 [4, 16, 23],
 [4, 16, 54],
 [4, 16, 57],
 [4, 21, 23],
 [4, 21, 54],
 [4, 21, 57],
 [4, 23, 54],
 [4, 23, 57],
 [4, 54, 57],
 [16, 21, 23],
 [16, 21, 54],
 [16, 21, 57],
 [16, 23, 54],
 [16, 23, 57],
 [16, 54, 57],
 [21, 23, 54],
 [21, 23, 57],
 [21, 54, 57],
 [23, 54, 57],
 [3, 13, 17],
 [3, 13, 25],
 [3, 13, 29],
 [3, 13, 51],
 [3, 17, 25],
 [3, 17, 29],
 [3, 17, 51],
 [3, 25, 29],
 [3, 25, 51],
 [3, 29, 51],
 [13, 17, 25],
 [13, 17, 29],
 [13, 17, 51],
 [13, 25, 29],
 [13, 25, 51],
 [13, 29, 51],
 [17, 25, 29],
 [17, 25, 51],
 [17, 29, 51],
 [25, 29, 51],
 [6, 7, 22],
 [6, 7, 38],
 [6, 7, 52],
 [6, 7, 60],
 [6, 22, 38],
 [6, 22, 52],
 [6, 22, 60],
 [6, 38, 52],
 [6, 38, 60],
 [6, 52, 60],
 [7, 22, 38],
 [7, 22, 52],
 [7, 22, 60],
 [7, 38, 52],
 [7, 38, 60],
 [7, 52, 60],
 [22, 38, 52],
 [22, 38, 60],
 [22, 52, 60],
 [38, 52, 60],
 [10, 42, 43],
 [10, 42, 45],
 [10, 42, 54],
 [10, 42, 55],
 [10, 43, 45],
 [10, 43, 54],
 [10, 43, 55],
 [10, 45, 54],
 [10, 45, 55],
 [10, 54, 55],
 [42, 43, 45],
 [42, 43, 54],
 [42, 43, 55],
 [42, 45, 54],
 [42, 45, 55],
 [42, 54, 55],
 [43, 45, 54],
 [43, 45, 55],
 [43, 54, 55],
 [45, 54, 55],
 [12, 16, 37],
 [12, 16, 45],
 [12, 16, 52],
 [12, 16, 56],
 [12, 37, 45],
 [12, 37, 52],
 [12, 37, 56],
 [12, 45, 52],
 [12, 45, 56],
 [12, 52, 56],
 [16, 37, 45],
 [16, 37, 52],
 [16, 37, 56],
 [16, 45, 52],
 [16, 45, 56],
 [16, 52, 56],
 [37, 45, 52],
 [37, 45, 56],
 [37, 52, 56],
 [45, 52, 56],
 [3, 5, 8],
 [3, 5, 12],
 [3, 5, 46],
 [3, 5, 47],
 [3, 8, 12],
 [3, 8, 46],
 [3, 8, 47],
 [3, 12, 46],
 [3, 12, 47],
 [3, 46, 47],
 [5, 8, 12],
 [5, 8, 46],
 [5, 8, 47],
 [5, 12, 46],
 [5, 12, 47],
 [5, 46, 47],
 [8, 12, 46],
 [8, 12, 47],
 [8, 46, 47],
 [12, 46, 47],
 [12, 26, 35],
 [12, 26, 38],
 [12, 26, 39],
 [12, 26, 47],
 [12, 35, 38],
 [12, 35, 39],
 [12, 35, 47],
 [12, 38, 39],
 [12, 38, 47],
 [12, 39, 47],
 [26, 35, 38],
 [26, 35, 39],
 [26, 35, 47],
 [26, 38, 39],
 [26, 38, 47],
 [26, 39, 47],
 [35, 38, 39],
 [35, 38, 47],
 [35, 39, 47],
 [38, 39, 47],
 [7, 11, 19],
 [7, 11, 24],
 [7, 11, 33],
 [7, 11, 36],
 [7, 19, 24],
 [7, 19, 33],
 [7, 19, 36],
 [7, 24, 33],
 [7, 24, 36],
 [7, 33, 36],
 [11, 19, 24],
 [11, 19, 33],
 [11, 19, 36],
 [11, 24, 33],
 [11, 24, 36],
 [11, 33, 36],
 [19, 24, 33],
 [19, 24, 36],
 [19, 33, 36],
 [24, 33, 36],
 [2, 6, 17],
 [2, 6, 25],
 [2, 6, 26],
 [2, 6, 58],
 [2, 17, 25],
 [2, 17, 26],
 [2, 17, 58],
 [2, 25, 26],
 [2, 25, 58],
 [2, 26, 58],
 [6, 17, 25],
 [6, 17, 26],
 [6, 17, 58],
 [6, 25, 26],
 [6, 25, 58],
 [6, 26, 58],
 [17, 25, 26],
 [17, 25, 58],
 [17, 26, 58],
 [25, 26, 58],
 [14, 18, 29],
 [14, 18, 38],
 [14, 18, 44],
 [14, 18, 47],
 [14, 29, 38],
 [14, 29, 44],
 [14, 29, 47],
 [14, 38, 44],
 [14, 38, 47],
 [14, 44, 47],
 [18, 29, 38],
 [18, 29, 44],
 [18, 29, 47],
 [18, 38, 44],
 [18, 38, 47],
 [18, 44, 47],
 [29, 38, 44],
 [29, 38, 47],
 [29, 44, 47],
 [38, 44, 47],
 [7, 30, 37],
 [7, 30, 44],
 [7, 30, 53],
 [7, 30, 55],
 [7, 37, 44],
 [7, 37, 53],
 [7, 37, 55],
 [7, 44, 53],
 [7, 44, 55],
 [7, 53, 55],
 [30, 37, 44],
 [30, 37, 53],
 [30, 37, 55],
 [30, 44, 53],
 [30, 44, 55],
 [30, 53, 55],
 [37, 44, 53],
 [37, 44, 55],
 [37, 53, 55],
 [44, 53, 55],
 [1, 23, 24],
 [1, 23, 32],
 [1, 23, 46],
 [1, 23, 60],
 [1, 24, 32],
 [1, 24, 46],
 [1, 24, 60],
 [1, 32, 46],
 [1, 32, 60],
 [1, 46, 60],
 [23, 24, 32],
 [23, 24, 46],
 [23, 24, 60],
 [23, 32, 46],
 [23, 32, 60],
 [23, 46, 60],
 [24, 32, 46],
 [24, 32, 60],
 [24, 46, 60],
 [32, 46, 60],
 [3, 17, 25],
 [3, 17, 35],
 [3, 17, 48],
 [3, 17, 56],
 [3, 25, 35],
 [3, 25, 48],
 [3, 25, 56],
 [3, 35, 48],
 [3, 35, 56],
 [3, 48, 56],
 [17, 25, 35],
 [17, 25, 48],
 [17, 25, 56],
 [17, 35, 48],
 [17, 35, 56],
 [17, 48, 56],
 [25, 35, 48],
 [25, 35, 56],
 [25, 48, 56],
 [35, 48, 56],
 [2, 5, 28],
 [2, 5, 34],
 [2, 5, 47],
 [2, 5, 50],
 [2, 28, 34],
 [2, 28, 47],
 [2, 28, 50],
 [2, 34, 47],
 [2, 34, 50],
 [2, 47, 50],
 [5, 28, 34],
 [5, 28, 47],
 [5, 28, 50],
 [5, 34, 47],
 [5, 34, 50],
 [5, 47, 50],
 [28, 34, 47],
 [28, 34, 50],
 [28, 47, 50],
 [34, 47, 50],
 [7, 13, 33],
 [7, 13, 35],
 [7, 13, 43],
 [7, 13, 55],
 [7, 33, 35],
 [7, 33, 43],
 [7, 33, 55],
 [7, 35, 43],
 [7, 35, 55],
 [7, 43, 55],
 [13, 33, 35],
 [13, 33, 43],
 [13, 33, 55],
 [13, 35, 43],
 [13, 35, 55],
 [13, 43, 55],
 [33, 35, 43],
 [33, 35, 55],
 [33, 43, 55],
 [35, 43, 55],
 [6, 16, 21],
 [6, 16, 44],
 [6, 16, 57],
 [6, 16, 58],
 [6, 21, 44],
 [6, 21, 57],
 [6, 21, 58],
 [6, 44, 57],
 [6, 44, 58],
 [6, 57, 58],
 [16, 21, 44],
 [16, 21, 57],
 [16, 21, 58],
 [16, 44, 57],
 [16, 44, 58],
 [16, 57, 58],
 [21, 44, 57],
 [21, 44, 58],
 [21, 57, 58],
 [44, 57, 58],
 ...]

time: 94 ms (started: 2023-08-31 17:04:07 -03:00)

In [51]:
from numba import jit
import swifter

time: 0 ns (started: 2023-08-31 17:04:07 -03:00)

In [52]:
@jit
def conta_ternos(val):
    arr_resutado = [ len(list(set(val) & set(q))) for q in lista_ternos]
    arr = np.array(arr_resutado)
    qtde = len(np.where(arr >= 3)[0])
    return qtde

time: 391 ms (started: 2023-08-31 17:04:09 -03:00)

In [53]:
df_apostas_sample['qtde_terno'] = df_apostas_sample.dezenas.apply(conta_ternos)

E:\ProgramData\anaconda3\lib\site-packages\numba\core\object_mode_passes.py:151: NumbaWarning: Function "conta_ternos" was compiled in object mode without forceobj=True.

File "C:\Users\PC PERFORMANCE\AppData\Local\Temp\ipykernel_20080\462785357.py", line 2:
@jit
def conta_ternos(val):
^

  warnings.warn(errors.NumbaWarning(warn_msg,
E:\ProgramData\anaconda3\lib\site-packages\numba\core\object_mode_passes.py:161: NumbaDeprecationWarning:
Fall-back from the nopython compilation path to the object mode compilation path has been detected, this is deprecated behaviour.

For more information visit https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

File "C:\Users\PC PERFORMANCE\AppData\Local\Temp\ipykernel_20080\462785357.py", line 2:
@jit
def conta_ternos(val):
^

  warnings.warn(errors.NumbaDeprecationWarning(msg,

time: 1.58 s (started: 2023-08-31 17:04:25 -03:00)

In [54]:
df_apostas_sample

           0   1   2   3   4   5                   dezenas  qtde_terno
13475259   3  26  32  38  48  49   [3, 26, 32, 38, 48, 49]          35
8520644    2  17  19  31  34  50   [2, 17, 19, 31, 34, 50]          32
21050857   5  39  43  44  51  58   [5, 39, 43, 44, 51, 58]          34
44381073  18  23  46  51  54  57  [18, 23, 46, 51, 54, 57]          29
36762398  12  17  23  40  42  47  [12, 17, 23, 40, 42, 47]          42

time: 16 ms (started: 2023-08-31 17:04:26 -03:00)

In [55]:
df_apostas_calc = df_apostas

time: 0 ns (started: 2023-08-31 17:04:29 -03:00)

In [56]:
len(df_apostas)/1000

50063.86

time: 16 ms (started: 2023-08-31 17:04:41 -03:00)

In [57]:
chunk_size = int(df_apostas.shape[0]/1000)
chunks_listas = [df_apostas[i:i + chunk_size] for i in range(0, df_apostas.shape[0], chunk_size)]

time: 47 ms (started: 2023-08-31 17:04:41 -03:00)

In [58]:
df_apostas_calc = chunks_listas[0]
len(df_apostas_calc)

50063

time: 0 ns (started: 2023-08-31 17:05:25 -03:00)

In [59]:
# df_apostas_calc['qtde_terno'] = df_apostas_calc['dezenas'].swifter.apply(conta_ternos) # 7037/50063860 [05:49<736:14:02, 18.89it/s]
df_apostas_calc['qtde_terno'] = df_apostas_calc['dezenas'].apply(conta_ternos)

time: 1h 1min 3s (started: 2023-08-31 17:05:31 -03:00)

In [60]:
df_apostas_calc

       0  1  2   3   4   5                dezenas  qtde_terno
0      1  2  3   4   5   6     [1, 2, 3, 4, 5, 6]          31
1      1  2  3   4   5   7     [1, 2, 3, 4, 5, 7]          34
2      1  2  3   4   5   8     [1, 2, 3, 4, 5, 8]          28
3      1  2  3   4   5   9     [1, 2, 3, 4, 5, 9]          29
4      1  2  3   4   5  10    [1, 2, 3, 4, 5, 10]          39
...   .. .. ..  ..  ..  ..                    ...         ...
50058  1  2  4  25  33  35  [1, 2, 4, 25, 33, 35]          29
50059  1  2  4  25  33  36  [1, 2, 4, 25, 33, 36]          42
50060  1  2  4  25  33  37  [1, 2, 4, 25, 33, 37]          34
50061  1  2  4  25  33  38  [1, 2, 4, 25, 33, 38]          34
50062  1  2  4  25  33  39  [1, 2, 4, 25, 33, 39]          30

[50063 rows x 8 columns]

time: 31 ms (started: 2023-08-31 18:06:35 -03:00)